body {
	color: green;
	text-align: center;
}
.container {
	background-image: url("https://images.pexels.com/photos/410858/pexels-photo-410858.jpeg?h=350&auto=compress&cs=tinysrgb");
	width: 600px;
	height: 400px;
}}
